<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>

<br><h4>Name: user.username</h4>
<br><h4>Mail: user.email</h4><br>
<a type="button" href=menu.ejs>Entrar</a><br>
<br>
<a type="button" href=logout.ejs>Logout</a><br>



