<!DOCTYPE html>
<html>
  <head>
    <title>Novo Produto</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/products">Lista Produtos</a></h3>
      <h1>Novo</h1>
      <form action="/products/save" method="post">
        <table>
          <tbody>
            <tr>
              <td>Nome</td>
              <td><input type="text" name="name" /></td>
            </tr>
            <tr>
              <td>Produto</td>
              <td><input type="text" name="productid"></</td>
            </tr>
            <tr>
              <td>Senha</td>
              <td><input type="text" name="price" /></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Salvar</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
